* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
  /* background-color: rgba(168, 50, 162, 0.5); */
}
body {
  background: linear-gradient(
    109.6deg,
    rgb(253, 199, 141) 11.3%,
    rgb(249, 143, 253) 100.2%
  );
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
header {
  padding: 50px 15%;
}
h1 {
  text-align: center;
  padding: 5px;
  font-size: 40px;
}
.selectContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-flow: column;
  margin: 0 15%;
  padding: 50px 10%;
  grid-gap: 20px;
  background: green;
}
.button-select {
  padding: 50px 0px;
  font-size: 20px;
  background: paleturquoise;
}
.resultTitle {
  text-align: center;
  font-size: 50px;
  margin: 30px;
}
.result {
  text-align: center;
  font-size: 40px;
  text-shadow: 5px 5px 10px rgba(229, 16, 245, 0.4);
  color: #e510f5;
  margin-bottom: 30px;
}
hr {
  border: rgba(65, 54, 54, 0.849) 1px solid;
  margin: 25px;
}
.test {
  display: flex;
  justify-content: center;
}
.leaderboard {
  display: grid;
  grid-template:
    "humanScore computerScore" 50px
    "humanLead computerLead" 140px/
    400px 400px;
  width: 800px;
  justify-content: center;
}
.leaderboard-human {
  grid-area: humanScore;
}
.leaderboard-computer {
  grid-area: computerScore;
}
.leaderboard-human-score {
  grid-area: humanLead;
}
.leaderboard-computer-score {
  grid-area: computerLead;
}
.leaderboard-human,
.leaderboard-computer,
.leaderboard-computer-score,
.leaderboard-human-score {
  justify-self: center;
  align-self: center;
}
.leaderboard-human,
.leaderboard-computer {
  font-size: 50px;
}
.leaderboard-computer-score,
.leaderboard-human-score {
  padding: 20px 0;
  font-size: 100px;
}
.leaderboard-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
}
.btnreset {
  display: flex;
  justify-content: center;
  align-content: center;
}
.resetbutton {
  margin: 80px;
  padding: 50px 120px;
  font-size: 50px;
  transition: all 200ms ease-in-out;
}
footer {
  background-color: #1f2937;
  padding: 35px;
}
footer p {
  text-align: center;
  color: #e5e7eb;
}
